@import "../../../shared/styles/vars";
.MainOpinionBox {
    height: 320px;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .DataBoxContainer {
        background-color: $VeryDarkMagenta;
        color: $White;
        height: 230px;
        width: 340px;
        margin: 15px;
        border-radius: 0.5rem;
        .CardHead {
            height: calc(40% - 40px);
            display: flex;
            font-size: 12px;
            margin-top: 40px;
            margin-left: 40px;
            margin-right: 40px;
            .PhotoContainer{
           display: flex;
           justify-content: center;
           align-items: center;
                img{
                   height:  40px;
                   border-radius: 50%;
                }
            }
            .DataCustomer{
                
           display: flex;
           justify-content: center;
           align-items: flex-start;
           flex-direction: column;
                margin-left: 20px;
                p{
                    font-weight: 500;
                    margin: 4px;
                }
                .Type{
                    color: $SoftPink;
                }
          
            }
        }
        .CardBody {
            height: 50%;
            font-size: 15px;
            height: calc(40% - 40px);
            display: flex;
            font-size: 12px;
    text-align: inherit;
            margin-left: 40px;
            margin-right: 40px;
            letter-spacing: .1em;
            line-height: 12pt;
        }
    }
}
.Start {
    justify-content: flex-start;
}
.End {
    justify-content: flex-end;
}
.Middle {
    justify-content: center;
}
@media (max-width: $MobileWidth ) {
    .MainOpinionBox {

justify-content: center;
height: 250px;

    }
}