@import "./vars";
h1 {
    color: $VeryDarkMagenta;
}

body {
    box-sizing: border-box;
    font-family: $FontFamily;
    height: 100vh;
    margin: 0;
    color: $VeryDarkMagenta;
    &::-webkit-scrollbar {
        display: none;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $FontSize;
   
}
body > div:first-child {
    width: $DesktopWidth;
    max-width: $DesktopWidth;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
} 
@media (min-width: $MobileWidth) { 
    body {
    
       height: inherit;
       box-sizing: inherit;
       width: 100%;
    }
    body > div:first-child {
   
      width: 100vw;
      height: inherit;
    } 
}