@import "../../../shared/styles/vars";
footer {
    height: calc(40vh - 8vh);
    width: 100%;
    display: flex;
    box-shadow: 0px -5px 5px 5px rgba(0, 0, 0, 0.2);
    .Frameworks {
        margin-left: 1%;
    
        width: 30%;
        display: flex;
        flex-direction: column;
        ul {
            li {
                img {
                    height: 40px;
                }
            }
        }
    }

    .ContactContainer {
        width: 30%;
        margin-left: 1%;
        display: flex;
        flex-direction: column;
       
        justify-content: flex-start;
        h4{
            margin-left: 40px;
        }
        ul{
            li{
                min-height: 50px;
                display: flex;
                &:hover{
                    cursor: pointer;
                }
                img{
                    height: 25px;
                    margin-right: 10px;
                }
            }
        }
    }
    .Legal {
        width: 33%;
        display: flex;
        flex-direction: column;
       align-items: center;
        justify-content: center;
        ul{
            li{
                min-height: 50px;
                display: flex;
              
            }
        }
    }
}
ul {
    list-style-type: none;
}
