@import "../../../shared/styles/vars";
.MainRateLine {
    width: 100%;
    min-height: 80px;
    display: flex;

    align-items: center;
    .InnerContaienr {
        width: 80%;
        background-color: $LightGrayishMagenta;
        display: flex;
        border-radius: 0.5rem;
        .StarsContainer {
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .TextContainer {
            p {
                font-size: $FontSize;
                font-weight: 700;
            }
        }
    }
}
.Start {
    justify-content: flex-start;
}
.End {
    justify-content: flex-end;
}
.Middle {
    justify-content: center;
}
@media (max-width: $MobileWidth) {
    .MainRateLine {
        .InnerContaienr {
            margin: 10px;
            min-height: 80px;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            .StarsContainer {
         height: 40px;
                width: 100%;
                height: 50%;
            }
            .TextContainer {
                
                height: 40px;
                text-align: center;
            }
        }
    }
}
